<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% if title %}
	<title>L - {{ title }}</title>
	{% else %}
	<title>L</title>
	{% endif %}

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<style>
		html {
			position: relative;
			min-height: 100%;
			padding-bottom: 160px;
		}

		body {
			padding-top: 70px;
			margin-bottom: 160px;
		}

		footer {
			/* position: absolute; */
			bottom: 0;
			width: 100%;
			height: 142px;
		}

		.ck-editor__editable {
			min-height: 180px;
		}

	</style>

</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3  mb-5 fixed-top">
		<div class="container">
			<a href="{{ url_for('home.index') }}" class="navbar-brand">Flask Wireframe</a>
			<!-- <a href="#" class="navbar-brand">Lewis Dunne</a> -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navmenu">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item px-3">
						<a href="{{ url_for('home.index') }}" class="nav-link">Home</a>
					</li>
					<li class="nav-item px-3">
						<a href="{{ url_for('home.index') }}" class="nav-link">Home</a>
					</li>
					<li class="nav-item px-3">
						<a href="{{ url_for('home.index') }}" class="nav-link">Home</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	{% block content %}{% endblock %}


	<!-- Footer -->
	<footer class="p-5 bg-dark text-white text-center position-absolute">
		<div class="container">
			<p class="lead">
				<script type="text/javascript">
                    document.write(new Date().getFullYear());
                  </script>
			</p>
			<a href="#" class="position-absolute bottom-0 end-0 p-5">
				<i class="bi bi-arrow-up-circle h1"></i>
			</a>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>